body {
	background-color: slategrey;
}

.textfields {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 85vh;
}

.buttons {
	display: flex;
	justify-content: space-between;
}

textarea {
	height: 95%;
	width: 25%;
}

#text-output {
	width: 75%;
}

button {
	width: 25%;
}
